* {
    margin: 0;
    padding: 0;
}
.header{
    border: 2px solid red;
    height: 300px;
}

.main{
    border: 2px solid violet;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.footer{
    border: 2px solid brown;
    height: 80px;
}
.intro{
    margin: 100px;
}
.subject-section{
    width: 1150px;
    margin: 100px auto;
}
    
.subject-section .sec-tit{
    width:90%;
    max-width:1132px;
    margin:0 auto;
    margin-bottom:76px;
    text-align:left;
}
.subject-section .subject-list{
    list-style: none;
}   
.subject-section .subject-list li{
    float:left;
    width:28.11%;
    margin: 30px;
}

.subject-section .subject-list li a{
    display:block;
    position:relative;
    width:100%;
    height:300px;
    margin-left: 10px;
    border: solid red;
}
    
.subject-section .subject-list li a:before{
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    width:100%;
    height:100%;
    background:gray;
    content:"";
    opacity:0;
    transition:all 0.2s;
}
    
.subject-section .subject-list li a:hover:before{
    opacity:0.86;
}
    
.subject-section .subject-list li .info{
    position:absolute;
    top:0;
    left:37px;
    z-index:20;
    opacity:0;
    transition:all 0.3s;
}
    
.subject-section .subject-list li a:hover .info{
    transform:translateY(37px);
    opacity:1;
}
    
.subject-section .subject-list li .info h3{
    margin-bottom:8px;
    font-size:23px;
    color:#fff;
    font-weight:normal;
}
    
.subject-section .subject-list li .info span{
    font-size:11px;
    color:#fff;
}
    
.subject-section .subject-list li img{
    display:block;
    width:100%;
    max-width:100%;
    height:auto;
}   


.container{
    padding: 10px 20px 0;
    width: 1000px;
    margin: 100px auto;
}

.text-box{

    border-radius: 10px;
    text-align:  center;
    position: relative;
    float: right;
    right: 50px;
    top: 100px;
    padding: 10px 25px;
    width: 45%;
}

.img-part img{
    width: 300px;

}

.img-part .circleimg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    background-color: gray;
}
.img-part .circleimg > img{
    width: 100px;
}
#img1{
    filter: unset;
}
#img1.grayc{
    filter: grayscale(100%);
}
#img2{
    filter: grayscale(100%);
}
#img2.grayc{
    filter: unset;
}
#img3{
    filter: grayscale(100%);
}
#img3.grayc{
    filter: unset;
}
#img4{
    filter: grayscale(100%);
}
#img4.grayc{
    filter: unset;
}
#img5{
    filter: grayscale(100%);
}
#img5.grayc{
    filter: unset;
}
#img6{
    filter: grayscale(100%);
}
#img6.grayc{
    filter: unset;
}
.row{
    padding: 10px;
    overflow: hidden;
}

.col3{
    width: 16.6%;
    float: left;
    text-align: center;
}

#koi{
    text-align: center;
    margin: 100px auto;
    display: block;
}
#koi.visible{
    display: none;
}
#mai{
    text-align: center;
    margin: 100px auto;
    display: none;
}
#mai.visible{
    display: block;
}
#eni{
    text-align: center;
    margin: 100px auto;
    display: none;
}
#eni.visible{
    display: block;
}
#hii{
    text-align: center;
    margin: 100px auto;
    display: none;
}
#hii.visible{
    display: block;
}
#soi{
    text-align: center;
    margin: 100px auto;
    display: none;
}
#soi.visible{
    display: block;
}
#sci{
    text-align: center;
    margin: 100px auto;
    display: none;
}
#sci.visible{
    display: block;
}