{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
    <div class="con">
        <div class="header">
            <div class="tit">
                <h1>교육용 질답 사이트</h1>
                <h3>학생 모두가 편하게 질문할 수 있는 사이트</h3>
            </div>
        </div>
        <div class="main">
            <div class="intro">
                <h1>사이트 소개</h1>
                <p>많은 학생들이 학교수업 이외의 시간에 질문에 대한 해답을 찾기 어려운 상황에 대면하게 됩니다. 이 사이트는 이를 해결하기 위하여 제작된 사이트로 각 과목에 유능하신 선생님들이 포진되어 학생들의 질문에 답하여주실 수 있는 환경을 제공하고 있습니다.</p>
            </div>
            <section class="subject-section">
                <h2 class="sec-tit">과목 선택</h2>
                <ul class="subject-list">
                    <li>
                        <a href="">
                            <div class="info">
                                <h3>국어</h3>
                                <span>WEB/PRINT</span>
                            </div>
                            <img src="{% static 'assets/ko.jpg' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'mathboard:index' %}">
                            <div class="info">
                                <h3>수학</h3>
                                <span>WEB/PRINT</span>
                            </div>
                            <img src="{% static 'assets/ma.jpg' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="info">
                                <h3>영어</h3>
                                <span>WEB/PRINT</span>
                            </div>
                            <img src="{% static 'assets/en.jpg' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="info">
                                <h3>한국사</h3>
                                <span>WEB/PRINT</span>
                            </div>
                            <img src="{% static 'assets/hi.jpg' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="info">
                                <h3>사회 탐구</h3>
                                <span>WEB/PRINT</span>
                            </div>
                            <img src="{% static 'assets/so.jpg' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="info">
                                <h3>과학 탐구</h3>
                                <span>WEB/PRINT</span>
                            </div>
                            <img src="{% static 'assets/sc.jpg' %}" alt="">
                        </a>
                    </li>
                </ul>
            </section>
            <article class="container"> 
                <div class="row img-part">
                    <div class="col3">
                        <figure>
                            <div class="circleimg">
                                <img src="{% static 'assets/t1.png' %}" alt="" id="img1">
                            </div>
                        </figure>
                    </div>
                    <div class="col3">
                        <figure>
                            <div class="circleimg">
                                <img src="{% static 'assets/t2.png' %}" alt="" id="img2">
                            </div>
                        </figure>
                    </div>
                    <div class="col3">
                        <figure>
                            <div class="circleimg">
                                <img src="{% static 'assets/t3.png' %}" alt="" id="img3">
                            </div>
                        </figure>
                    </div>
                    <div class="col3">
                        <figure>
                            <div class="circleimg">
                                <img src="{% static 'assets/t4.png' %}" alt="" id="img4">
                            </div>
                        </figure>
                    </div>
                    <div class="col3">
                        <figure>
                            <div class="circleimg">
                                <img src="{% static 'assets/t5.png' %}" alt="" id="img5">
                            </div>
                        </figure>
                    </div>
                    <div class="col3">
                        <figure>
                            <div class="circleimg">
                                <img src="{% static 'assets/t6.png' %}" alt="" id="img6">
                            </div>
                        </figure>
                    </div>
                    <div id="koi">
                        <h2>선생님 소개</h2>
                        <p>국어 과목 선생님입니다.</p>
                        <p>질문에 대하여 친절하고 상세하게 알려주십니다.</p>                
                    </div>
                    <div id="mai">
                        <h2>선생님 소개</h2>
                        <p>수학 과목 선생님입니다.</p>
                        <p>질문에 대하여 알기쉽게 풀어 설명해주십니다.</p>
                    </div>
                    <div id="eni">
                        <h2>선생님 소개</h2>
                        <p>영어 과목 선생님입니다.</p>
                        <p>질문에 대한 핵심을 잘 파악하고 명쾌하게 설명해주십니다.</p>
                    </div>
                    <div id="hii">
                        <h2>선생님 소개</h2>
                        <p>한국사 과목 선생님입니다.</p>
                        <p>질문에 대하여 꼼꼼하고 자세하게 설명해주십니다.</p>
                    </div>
                    <div id="soi">
                        <h2>선생님 소개</h2>
                        <p>사회 탐구 과목 선생님입니다.</p>
                        <p>질문에 대하여 정확히 설명해주십니다.</p>
                    </div>
                    <div id="sci">
                        <h2>선생님 소개</h2>
                        <p>과학 탐구 과목 선생님입니다.</p>
                        <p>질문에 대하여 논리적으로 잘정리하여 설명해주십니다.</p>
                    </div>
                </div>
            </article>
        </div>
        <div class="footer">
            <p>사이트 관리자: 곽혁 연락처: 010-XXXX-XXXX</p>
        </div>
    </div>
{% endblock %}


